<p>All persons recorded in the database</p>

<table [ngClass]="['table', 'is-striped', 'is-hoverable', 'is-fullwidth']">
  <thead>
  <tr>
    <th i18n="@@app.peopleIndex.table.id.header">Id</th>
    <th i18n="@@app.peopleIndex.table.firstName.header">First name</th>
    <th i18n="@@app.peopleIndex.table.lastName.header">Last name</th>
    <th i18n="@@app.peopleIndex.table.email.header">Email</th>
    <th i18n="@@app.peopleIndex.table.status.header">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of persons" (dblclick)="editPerson(person.id)">
    <td>{{person.id}}</td>
    <td>{{person.firstName}}</td>
    <td>{{person.lastName}}</td>
    <td>{{person.email}}</td>
    <td>{{person.status === 0 ? 'Active' : 'Inactive'}}</td>
  </tr>
  </tbody>
</table>
